[% FOR pkg IN packages %]
    # --- [% pkg.package %]
      ## kanku init --obsurl [% obsurl %] --project [% project %] --package [% pkg.package %] --repository [% pkg.repository %]
      ## state: pkg.code
      # obsurl: [% obsurl %]
      project: [% project %]
      package: [% pkg.package %]
      repository: [% pkg.repository %]
      arch: [% pkg.arch %]
[% END %]
